
<nav>
    <aside class="sidebar">
        <div class="main-nav">
            <ul>
                <li class="logo">
                    <a class="nav-link active" routerLink="/admin/index">Home</a>
                 
                </li>
                <li class="side search">
                    <a class="nav-link active" routerLink="/admin/categories">Categories</a>
                    <i class="fa fa-search"></i>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/admin/inventories">Kho</a>
                    <i class="fa fa-home"></i>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/admin/products">Sản phẩm</a>
                    <i class="en-gauge"></i>
                </li>
                <li>
                    <a class="nav-link active" routerLink="/admin/restaurantTables">Bàn</a>
                </li>
                <li>
                    <a class="nav-link " routerLink="/admin/suppliers">Nhà cung cấp</a>
                </li>
                <li>
                    <a class="nav-link " routerLink="/admin/ingredients">Nguyên liệu</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/user/index">User</a>
                </li>
                <!-- Thêm các mục khác tại đây -->
            </ul>
        </div>
    </aside>
</nav>
<!-- <a class="btn btn-default canvas-toggle" href="#"><i class="fa fa-bars"></i></a> -->
<!-- <div class="menu">
    <section class="page">
        <div class="content">
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias explicabo
                necessitatibus quod, blanditiis aperiam vero natus voluptate, sequi illum
                molestiae harum suscipit eveniet voluptatum minus aspernatur voluptas!
                Voluptates, dolor, enim.
            </p>
        </div>
    </section>
</div> -->