<div class="container">
  <h1>Bàn</h1>
  <form [formGroup]="restaurantTableForm" (ngSubmit)="addRestaurantTable()">
    <div class="row">
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Tên bàn</label>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="tableName" placeholder="Nhập tên bàn...">
        </div>
      </div>
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Nhà hàng</label>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="restaurantId">
            <option value="">Chọn nhà hàng</option>
            <option *ngFor="let restaurant of restaurants " [value]="restaurant.restaurantId">{{
              restaurant.restaurantName
              }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Kiểu bàn</label>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="tableTypeId">
            <option value="">Chọn kiểu bàn</option>
            <option *ngFor="let tableType of tableTypes" [value]="tableType.tableTypeId"> {{ tableType.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Trạng thái bàn</label>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="tableStatusId">
            <option value="">Chọn trạng thái</option>
            <option *ngFor="let tableStatus of tableStatuses" [value]="tableStatus.tableStatusId"> {{ tableStatus.name
              }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <div class="col-2">
    <select class="form-select" (change)="onTableSizeChange($event)">
      <option value="">Page</option>
      <option *ngFor="let size of tableSizes">
        {{size}}
      </option>
    </select>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tên bàn</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let restaurantTable of restaurantTables | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
        <td>{{restaurantTable.tableId}}</td>
        <td>{{restaurantTable.tableName}}</td>
        <td>{{ (getRestaurantById(restaurantTable.restaurantId) | async)?.restaurantName }}</td>
        <td>{{ (getTableStatusById(restaurantTable.tableStatusId) | async)?.name }}</td>
        <td>{{ (getTableTypeById(restaurantTable.tableTypeId) | async)?.name }}</td>
        <td>
          <button type="button" class="btn btn-outline-primary"
            (click)="openRestaurantTableDetailModal(restaurantTable)">Edit</button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteTable(restaurantTable)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <pagination-controls previousLabel="Prev" nextLabel="Next"
      (pageChange)="onTableDataChange($event)"></pagination-controls>
  </div>
</div>