<div class="container">
    <h1>Kho</h1>
    <form [formGroup]="inventoryForm" (ngSubmit)="saveInventory()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ID</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="inventoryId">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Ingredient</label>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" formControlName="ingredientId">
                    <option selected>Chọn nguyên liệu</option>
                    <option *ngFor="let ingredient of ingredients" [value]="ingredient.ingredientId">{{ ingredient.name
                        }}</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Supplier</label>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" formControlName="supplierId"
                    name="supplierId" id="supplierId">
                    <option [value]="">Chọn nhà sản xuất</option>
                    <option *ngFor="let supplier of suppliers" [value]="supplier.supplierId"> {{ supplier.name }}
                    </option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>