<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="ingredientForm" (ngSubmit)="updateIngredient()">
    <div class="row">
        <div class="col-sm-6">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-sm-6">
            <label for="exampleInputPassword1" class="form-label">OrderThreshold</label>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="orderThreshold">
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <div class="mb-3">
                <textarea class="form-control" cols="30" rows="10" formControlName="description"></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-info">Save</button>
</form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
    Đóng
  </button>
</div>