<div class="modal-header">
  <h4 class="modal-title">Update</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="restaurantTableForm" (ngSubmit)="updateRestaurantTable()">
    <div class="row">
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Tên bàn</label>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="tableName">
        </div>
      </div>
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Nhà hàng</label>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="restaurantId">
            <option selected>Chọn nhà hàng</option>
            <option *ngFor="let restaurant of restaurants " [value]="restaurant.restaurantId">{{
              restaurant.restaurantName
              }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Kiểu bàn</label>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="tableTypeId">
            <option [value]="">Chọn kiểu bàn</option>
            <option *ngFor="let tableType of tableTypes" [value]="tableType.tableTypeId"> {{ tableType.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <label for="exampleInputPassword1" class="form-label">Trạng thái bàn</label>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="tableStatusId">
            <option [value]="">Chọn trạng thái</option>
            <option *ngFor="let tableStatus of tableStatuses" [value]="tableStatus.tableStatusId"> {{ tableStatus.name
              }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
    Đóng
  </button>
</div>