<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg" onscroll="onScroll()"
    [ngClass]="navbarfixed?'fixed':'notfixed'">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" routerLink="/user/index">
            Crispy Kitchen
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/index" routerLinkActive="active">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/cart" routerLinkActive="active">Cart</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/chat" routerLinkActive="active">Chat</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" (click)="openLoginModal()">Đăng nhập</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/combo">Combo</a>
                </li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Danh muc
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" routerLink="/user/event">Event</a></li>
                        <li> <a class="nav-link" routerLink="/user/table">Table</a></li>
                        <li> <a class="nav-link" routerLink="/user/restaurant">Restaurant</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </ul>
        </div>

        <form class="d-flex ml-auto">

            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

    </div>
</nav>