<div class="container">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h1>Cập nhật Combo</h1>
  <form [formGroup]="comboForm" (ngSubmit)="updateCombo()">
    <div class="row">
      <div class="col-sm-6">
        <label for="exampleInputPassword1" class="form-label">Tên Combo</label>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="comboName" placeholder="Nhập tên combo...">
        </div>
      </div>
      <div class="col-sm-6">
        <label for="exampleInputPassword1" class="form-label">Người đặt</label>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="comboUser" placeholder="Nhập tên người đặt ...">
        </div>
      </div>
      <div class="col-sm-6">
        <label for="exampleInputPassword1" class="form-label">Tổng tiền</label>
        <div class="mb-3">
          <input type="number" class="form-control" formControlName="totalAmount" placeholder="Nhập tổng tiền ...">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-info">Lưu</button>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
      Đóng
    </button>
  </div>