<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li *ngFor="let category of categories" class="list-group-item">
                    <a [routerLink]="['/user/index/category', category.categoryId, 'products']">
                        {{ category.categoryId }} {{ category.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button> -->