a {
  text-decoration: none;
  color: var(--p-color);
  font-family: 'Playfair Display', serif;
  font-size: larger;
}

a:hover {
  color: red;
  /* Màu khi hover vào liên kết */
}

/* Định dạng liên kết danh sách */
.list-group a {
  display: block;
  padding: 3px;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s;
  /* Thêm hiệu ứng chuyển động cho văn bản */
}

/* Hiệu ứng khi hover vào liên kết */
.list-group a:hover {
  transform: scale(1.1);
  /* Phóng to văn bản khi di chuột vào */
}

/* Định dạng toàn bộ nav */
nav.category {
  background-color: #333;
  /* Màu nền */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  /* Đổ bóng */
  color: #fff;
  /* Màu chữ */
}

.list-group {
  text-align: center;
}

.accordion-button {
  background-color: #333;
  color: #fff;
}

.mobile-category-item {
  flex-shrink: 0;
  margin-right: 10px;
}

.mobile-category-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;

}

.mobile-category-list::-webkit-scrollbar {
  display: none;
}

.mobile-category-link {
  --line-height: 2rem;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: var(--line-height);
  height: var(--line-height);
  overflow: hidden;
  text-align: center;
  width: 110px;
  display: block;
  border-radius: 5px;
  border: 1px gray solid;
  user-select: none;
  --webkit-user-select: none;

}


/* input  */
