<div class="container">
    <div class="row">
        <div id="search-component">
            <label for="search-box">Categories Search</label>
            <input #searchBox id="search-box" (input)="search(searchBox.value)" autocomplete="off" />
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <li *ngFor="let category of categories$ | async" class="list-group-item">
                    <a [routerLink]="['/user/index/category', category.categoryId, 'products']">
                        {{ category.categoryId }} {{ category.name }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <a [routerLink]="['/user/index']">Hiển thị tất cả sản phẩm</a>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button> -->
