<table class="table caption-top table-hover">
    <caption>List of food</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Food Id</th>
            <th scope="col">Food name</th>
        </tr>
    </thead>
    <tbody>
        <!-- (click)="openProductModal(product)" -->
        <tr *ngFor="let product of products; let i = index"
            routerLink="/admin/product/detail/{{product.categoryId}}">
            <th scope="row">{{i+1}}</th>
            <td>{{product.categoryId}}</td>
            <td>{{product.name}}</td>
        </tr>
    </tbody>
</table>