<table class="table caption-top table-hover">
    <caption>List of food</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Food Id</th>
            <th scope="col">Food name</th>
        </tr>
    </thead>
    <tbody>
        <!-- (click)="openProductModal(product)" -->
        <tr *ngFor="let product of products; let i = index"
            routerLink="/admin/product/detail/{{product.categoryId}}">
            <th scope="row">{{i+1}}</th>
            <td>{{product.categoryId}}</td>
            <td>{{product.name}}</td>
        </tr>
    </tbody>
</table>

<form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <label for="new-product">Product id: </label>
    <input id="new-product" formControlName="id" />

    <div
        *ngIf="productForm.get('id')?.invalid && (productForm.get('id')?.dirty || productForm.get('id')?.touched)"
        class="alert alert-danger">
        <div *ngIf="productForm.get('id')?.hasError('required')">
            Id is required
        </div>
        <div *ngIf="productForm.get('id')?.hasError('minlength')">
            Name must be at least 3 characters long
        </div>
    </div>

    <button type="submit" class="add-button" [disabled]="productForm.invalid">
        Add product
    </button>
</form>
