<h1>Table</h1>
<ul class="products container">
    <table class="table table-light">
        <tbody>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>TableType</td>
                <td>Status</td>
                <td>RestaurantId</td>
            </tr>
            <tr *ngFor="let restaurantTable of restaurantTables">
                <th>
                    {{ restaurantTable.tableId }}
                </th>
                <th>{{ restaurantTable.tableName }}</th>
                <th>{{ restaurantTable.tableTypeId }}</th>
                <th>{{ (getTableStatusById(restaurantTable.tableStatusId) | async)?.name }}</th>
                <th>{{ restaurantTable.restaurantId }}</th>

            </tr>
        </tbody>
    </table>
</ul>
<router-outlet></router-outlet>