<h1>Table</h1>
<ul class="products container">
    <table class="table table-light">
        <tbody>
            <tr>
                <th>Mã bàn</th>
                <th>Tên bàn</th>
                <th>Loại bàn</th>
                <th>Trạng thái</th>
                <th>Chi nhánh nhà hàng</th>
                <th>Đặt bàn</th>
            </tr>
            <tr *ngFor="let restaurantTable of restaurantTables">
                <td>
                    {{ restaurantTable.tableId }}
                </td>
                <td>{{ restaurantTable.tableName }}</td>
                <td>{{ (getTableTypeById(restaurantTable.tableTypeId) | async)?.name }}</td>
                <td>{{ (getTableStatusById(restaurantTable.tableStatusId) | async)?.name }}</td>
                <td>{{ (getRestaurantById(restaurantTable.restaurantId) | async)?.restaurantName }}</td>
                <td><button (click)="bookTable()">Book</button></td>
            </tr>
        </tbody>
    </table>
</ul>
<router-outlet></router-outlet>