<div class="container">
    <h1>Nhà cung cấp</h1>
    <form [formGroup]="supplierForm" (ngSubmit)="addSupplier()">
        <div class="row">
            <div class="col-sm-6">
                <label for="exampleInputPassword1" class="form-label">Name</label>
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="name"
                        placeholder="Nhập tên nhà cung cấp...">
                </div>
            </div>
            <div class="col-sm-6">
                <label for="exampleInputPassword1" class="form-label">Phone</label>
                <div class="mb-3">
                    <input type="number" class="form-control" formControlName="phone"
                        placeholder="Nhập số điện thoại ...">
                </div>
            </div>
            <div class="col-sm-6">
                <label for="exampleInputPassword1" class="form-label">Email</label>
                <div class="mb-3">
                    <input type="text" class="form-control" formControlName="email" placeholder="Nhập email ...">
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Address</label>
                <div class="mb-3">
                    <textarea class="form-control" cols="30" rows="10" formControlName="address"
                        placeholder="Nhập địa chỉ..."></textarea>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-info">Save</button>
    </form>
    <div class="col-2">
        <select class="form-select" (change)="onTableSizeChange($event)">
            <option value="">Page</option>
            <option *ngFor="let size of tableSizes">
                {{size}}
            </option>
        </select>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let supplier of suppliers | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                <td>{{supplier.supplierId}}</td>
                <td>{{supplier.name}}</td>
                <td>{{supplier.email}}</td>
                <td>{{supplier.phone}}</td>
                <td>{{supplier.address}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary"
                        (click)="openSupplierDetailModal(supplier)">Edit</button>
                    <button type="button" class="btn btn-outline-danger"
                        (click)="deleteSupplier(supplier)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next"
            (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>
</div>