<div class="container">
    <h1 class="text-center m-t-83">Book a Table</h1>
    <div class="table-select">
        <div class="table-item">
            <a><img src="./assets/images/table-icon.png" class="table-img"></a>
            <p>Bàn 1</p>
            <p>Trạng Thái: Trống</p>
            <button class="btn btn-primary">Chọn</button>
        </div>
        <div class="table-item">
            <a><img src="./assets/images/table-icon.png" class="table-img"></a>
            <p>Bàn 2</p>
            <p>Trạng Thái: Trống</p>
            <button class="btn btn-primary">Chọn</button>
        </div>
        <div class="table-item">
            <a><img src="./assets/images/table-icon.png" class="table-img"></a>
            <p>Bàn 3</p>
            <p>Trạng Thái: Trống</p>
            <button class="btn btn-primary">Chọn</button>
        </div>
        <div class="table-item">
            <a><img src="./assets/images/table-icon.png" class="table-img"></a>
            <p>Bàn 4</p>
            <p>Trạng Thái: Trống</p>
            <button class="btn btn-primary">Chọn</button>
        </div>
        <div class="table-item">
            <a><img src="./assets/images/table-icon.png" class="table-img"></a>
            <p>Bàn 5</p>
            <p>Trạng Thái: Trống</p>
            <button class="btn btn-primary">Chọn</button>
        </div>
        <div class="table-item">
            <a><img src="./assets/images/table-icon.png" class="table-img"></a>
            <p>Bàn 6</p>
            <p>Trạng Thái: Trống</p>
            <button class="btn btn-primary">Chọn</button>
        </div>
        <div class="table-item">
            <a><img src="./assets/images/table-icon.png" class="table-img"></a>
            <p>Bàn 7</p>
            <p>Trạng Thái: Trống</p>
            <button class="btn btn-primary">Chọn</button>
        </div>
        <div class="table-item">
            <a><img src="./assets/images/table-icon.png" class="table-img"></a>
            <p>Bàn 8</p>
            <p>Trạng Thái: Trống</p>
            <button class="btn btn-primary">Chọn</button>
        </div>
    </div>
    <div>

        <div class="choice-container">
            <h1>Lựa Chọn</h1>
            <div class="row">
                <div class="choice-button btn btn-primary">
                    <i class='bx bx-dish'></i>
                    <a href="#" class="">
                        <h3>Chọn Món</h3>
                    </a>
                </div>
                <div class="choice-button btn btn-success">
                    <i class='bx bx-party'></i>
                    <a href="#" class="">
                        <h3>Đặt Tiệc</h3>
                    </a>
                </div>
            </div>
        </div>

        <!-- Chọn món -->
        <div class="select-menu-item" style="display: block;">
            <h1>Chọn món</h1>
            <table style="border: 1px solid #333; width: 500px; padding: 15px; margin: 15px;">
                <thead>
                    <tr class="alert-primary">
                        <td><input type="checkbox" name="" id=""></td>
                        <td>Ảnh</td>
                        <td>Tên món</td>
                        <td>Đơn giá</td>
                        <td>Số lượng</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><img style="width: 100px; height: 100px;"
                                src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                                alt=""></td>
                        <td>Bánh chuối</td>
                        <td>10.000</td>
                        <td><input type="number" style="width: 50px;"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><img style="width: 100px; height: 100px;"
                                src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                                alt=""></td>
                        <td>Bánh chuối</td>
                        <td>10.000</td>
                        <td><input type="number" style="width: 50px;"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><img style="width: 100px; height: 100px;"
                                src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                                alt=""></td>
                        <td>Bánh chuối</td>
                        <td>10.000</td>
                        <td><input type="number" style="width: 50px;"></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td><img style="width: 100px; height: 100px;"
                                src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                                alt=""></td>
                        <td>Bánh chuối</td>
                        <td>10.000</td>
                        <td><input type="number" style="width: 50px;"></td>
                    </tr>
                </tbody>
            </table>
            <a href="#" class="btn btn-primary">Đặt món</a>
        </div>

        <!-- Đặt lịch hẹn -->
        <div>
            <form action="">
                <h2>Thông tin lịch hẹn</h2>
                <label>Người đặt</label>
                <input type="text" value="Mai Quốc Bảo" readonly> <br>
                <label>Ngày đặt</label>
                <input type="date"><br>
                <label>Số lượng người</label>
                <input type="text"><br>
                <table>
                    <label>Danh sách món ăn</label>
                    <tr>
                        <td><img style="width: 100px; height: 100px;"
                                src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                                alt=""></td>
                        <td>Bánh chuối</td>
                        <td>10.000</td>
                        <td><input type="number" style="width: 50px;"></td>
                    </tr>
                    <tr>
                        <td><img style="width: 100px; height: 100px;"
                                src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                                alt=""></td>
                        <td>Bánh chuối</td>
                        <td>10.000</td>
                        <td><input type="number" style="width: 50px;"></td>
                    </tr>
                    <tr>
                        <td><img style="width: 100px; height: 100px;"
                                src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                                alt=""></td>
                        <td>Bánh chuối</td>
                        <td>10.000</td>
                        <td><input type="number" style="width: 50px;"></td>
                    </tr>
                </table> <br>
                <button class="btn btn-primary mr-2">Xác nhận</button> <button class="btn btn-warning">Hủy</button>
            </form>
        </div>

        <!-- Chọn combo -->
        <div>
            <h3>Danh sách combo ưu đãi</h3>
            <table>
                <h5>Combo cho 2 người</h5>
                <tr>
                    <td>Ảnh</td>
                    <td>Tên món</td>
                    <td>Đơn giá</td>
                    <td>Số lượng</td>
                </tr>
                <tr>
                    <td><img style="width: 100px; height: 100px;"
                            src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                            alt=""></td>
                    <td>Bánh chuối</td>
                    <td>10.000</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td><img style="width: 100px; height: 100px;"
                            src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                            alt=""></td>
                    <td>Bánh chuối</td>
                    <td>10.000</td>
                    <td>2</td>
                </tr>
            </table> <br>
            <button class="btn btn-primary">Chọn</button>

            <table>
                <h5>Combo cho 10 người</h5>
                <tr>
                    <td>Ảnh</td>
                    <td>Tên món</td>
                    <td>Đơn giá</td>
                    <td>Số lượng</td>
                </tr>
                <tr>
                    <td><img style="width: 100px; height: 100px;"
                            src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                            alt=""></td>
                    <td>Bánh chuối</td>
                    <td>10.000</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td><img style="width: 100px; height: 100px;"
                            src="https://product.hstatic.net/200000233557/product/z1794611983850_b2a6a19a040c91457438eeda499874f3_49eccbd397a3493a80c1ab2674068a9f_grande.jpg"
                            alt=""></td>
                    <td>Bánh chuối</td>
                    <td>10.000</td>
                    <td>2</td>
                </tr>
            </table> <br>
            <button class="btn btn-primary">Chọn</button>
        </div>
    </div>