<div class="container">
    <a [routerLink]="['/user/index']" class="button">Tất cả sản phẩm</a>
  
    <div class="main-content">
        <ul class="products">
            <li *ngFor="let cart of cartDetails" class="product-item">
                <div>
                    <span class="menu-item">{{ cart.menuItem }}</span>
                    <span class="quantity">{{ cart.quantity }}</span>
                </div>
            </li>
        </ul>
    </div>
  
    <div class="side-content">
        <div class="select-container">
            <div class="select-column">
                <select [(ngModel)]="selectedProvince" (ngModelChange)="onProvinceChange()" class="select">
                    <option [ngValue]="null">Vui lòng chọn tỉnh/thành phố</option>
                    <option *ngFor="let province of Provinces[2]" [ngValue]="province.ProvinceID">
                        {{ province.ProvinceName }}
                    </option>
                </select>
            </div>
            <div class="select-column">
                <select [(ngModel)]="selectedDistrict" [disabled]="!Districts" (ngModelChange)="onDistrictChange()" class="select">
                    <option [ngValue]="null">Vui lòng chọn quận/huyện</option>
                    <option *ngFor="let district of Districts[2]" [ngValue]="district.DistrictID">
                        {{ district.DistrictName }}
                    </option>
                </select>
            </div>
            <div class="select-column">
                <select [(ngModel)]="selectedWard" [disabled]="!Wards" class="select">
                    <option [ngValue]="null">Vui lòng chọn quận/huyện</option>
                    <option *ngFor="let ward of Wards[2]" [ngValue]="ward.WardCode">
                        {{ ward.WardName }}
                    </option>
                </select>
            </div>
        </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  