<div class="most_popular">
    <div class="title text-center">
        <a [routerLink]="['/user/index']">
            <h2>PRODUCT</h2>
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6" *ngFor="let product of getVisibleProducts(); let i = index">
                <div class="most_popular_item">
                    <div class="most_popular_thumb hover_zoom_brightness">
                        <a href="javascript:void(0)">
                            <img src="https://static.kfcvietnam.com.vn/images/items/lg/SALAD-HAT-GA-VIEN.jpg?v=gzNOBg"
                                class="img-fluid" alt="most_popular">
                            <div class="item_action">
                                <ul class="list-unstyled">
                                    <li class="list-inline-item"><a href="#" class="view icon"><i
                                                class="fa-solid fa-eye"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="wishlist icon"><i
                                                class="fa-regular fa-heart"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="buy icon"><i
                                                class="fa-solid fa-cart-shopping"></i></a></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="mostpopular_content text-center">
                        <div class="mostpopular_name">
                            <h5 class="product_name">{{product.name}}</h5>
                        </div>
                        <div class="mostpopular_rating">
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                        </div>
                        <p class="price">{{ product.price | currency: 'VND' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mb-5">
    <button class="Btn" (click)="showMore()" *ngIf="remainingProducts && remainingProducts > 0">Show
        More</button>
    <button class="Btn" (click)="showLess()" *ngIf="visibleProductCount > 12">Show Less</button>
</div>

<div class="card">
    <div class="card-header">
        <h1 class="m-2">SOUP</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-sm-6" *ngFor="let product of filterProductsByCategoryId(1)">
                <div class="most_popular_item">
                    <div class="most_popular_thumb hover_zoom_brightness">
                        <a href="javascript:void(0)">
                            <img src="https://static.kfcvietnam.com.vn/images/items/lg/SALAD-HAT-GA-VIEN.jpg?v=gzNOBg"
                                class="img-fluid" alt="most_popular">
                            <div class="item_action">
                                <ul class="list-unstyled">
                                    <li class="list-inline-item"><a href="#" class="view icon"><i
                                                class="fa-solid fa-eye"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="wishlist icon"><i
                                                class="fa-regular fa-heart"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="buy icon"><i
                                                class="fa-solid fa-cart-shopping"></i></a></li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="mostpopular_content text-center">
                        <div class="mostpopular_name">
                            <h5 class="product_name">{{product.name}}</h5>
                        </div>
                        <div class="mostpopular_rating">
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                            <a href="#"><i class="fa-solid fa-star"></i></a>
                        </div>
                        <p class="price">{{ product.price | currency: 'VND' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>