<!-- <div class="date-time">{{ currentTime | date: 'EEEE, MMMM d, y, h:mm:ss a' }}</div> -->

<div class="date-time">
    <div class="wrapper">
        <div class="bar-seconds">
            <span>
                <span *ngFor="let second of seconds" [ngStyle]="{'--index': second}">
                    <p></p>
                </span>
            </span>
        </div>
        <div class="number-hours" >
            <span *ngFor="let hour of hours" [ngStyle]="{'--index': hour}">
                <p>{{ hour }}</p>
            </span>
        </div>
        <div class="hands-box">
            <div class="hand hours" [style.transform]="hourHandTransform"><i></i></div>
            <div class="hand minutes" [style.transform]="minuteHandTransform"><i></i></div>
            <div class="hand seconds" [style.transform]="secondHandTransform"><i></i></div>
        </div>
    </div>
</div>