<div class="login-container">
  <h2>Login</h2>
  <div class="input-container">
      <label for="username">Username</label>
      <input type="text" id="username" placeholder="Enter Username">
  </div>
  <div class="input-container">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter Password">
  </div>
  <button class="login-button" (click)="login()">Login</button>
  <button class="google-login-button" (click)="loginWithGoogle()">Sign in with Google</button>
  <!-- <a (click)="openRegisterModal()" class="register-link">Bạn chưa có tài khoản? Đăng ký ngay</a> -->
  <a href="/forgot-password" class="forgot-password-link">Quên mật khẩu</a>
</div>