
 
<!-- Đăng nhập chính -->
<div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button
        type="button"
        class="btn close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ul class="nav pav-pills nav justified mb-3" id="ex1" role="tablis">
        <li class="nav-item" role="presentation">
            <button class="btn btn-default" [ngClass]="active == 'login'?'nav-link-active':'nav-link'"
                id="tab-login"
                (click)="onLoginTab()">Login</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="btn btn-default"
                [ngClass]="active == 'register'?'nav-link-active':'nav-link'"
                id="tab-register"
                (click)="onRegisterTab()">Register</button>
        </li>
    </ul>
    <div class="tab-content">
        <div
            [ngClass]="active == 'login'?'tab-pane fade show active':'tab-pane fade'">
            <div class="login-container">
                <form (submit)="login()" [formGroup]="loginForm">
                    <h2>Login</h2>
                <div class="input-container">
                    <label for="usernameLogin">Username</label>
                    <input type="text" id="usernameLogin" placeholder="Enter Username" formControlName="username">
                </div>
                <div class="input-container">
                    <label for="passwordLogin">Password</label>
                    <input type="password" id="passwordLogin" placeholder="Enter Password" formControlName="password">
                </div>
                <button class="login-button" type="submit">Login</button>
                <button class="google-login-button" (click)="loginWithGoogle()">Sign in with Google</button>
                <a href="/forgot-password" class="forgot-password-link">Quên mật khẩu</a>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div
            [ngClass]="active == 'register'?'tab-pane fade show active':'tab-pane fade'">
            <!-- Đăng ký -->
 <div class="login-container">
    <form (submit)="register()" [formGroup]="registerForm">
        <h2>Register</h2>
        <div *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
        <div class="input-container">
            <label for="fullName">Full Name: </label>
            <input type="text" id="fullName" placeholder="Enter your full name" formControlName="fullName" name="fullName">
        </div>
        <div class="input-container">
            <label for="username">Username: </label>
            <input type="text" id="username" placeholder="Enter your username" formControlName="username" name="username">
        </div>
        <div class="input-container">
            <label for="password">Password: </label>
            <input type="password" id="password" placeholder="Enter Password" formControlName="password" name="password">
        </div>
        <div class="input-container">
            <label for="phone">Phone: </label>
            <input type="text" id="phone" placeholder="Enter your phone number" formControlName="phone" name="phone">
        </div>
        <div class="input-container">
            <label for="email">Email: </label>
            <input type="text" id="email" placeholder="Enter your email" formControlName="email" name="email">
        </div>
        
        <button class="login-button" type="submit">Đăng ký</button>
    </form>
  </div>
</div>
</div>
</div>

